/*
 * Post side content
 *--------------------*/

.post--side-content {
	min-height: 180px;
	position: relative;
	padding-top: 200px;

	@include respond-to('sm') {
		height: 0;
		padding-top: 0;
	    padding-bottom: 50%;
	}
}

.post--side-content .post__text {
	min-width: 300px;
	@include display(flex);
	@include align-items(center);
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;

	@include respond-to('sm') {
		width: 40%;
		@include absolute(0, auto, 0, 0);
	}
	
}

.post--side-content .post-content-inner {
	width: 100%;
	position: relative;
	padding: 40px 20px;

	@include respond-to('sm') {
		padding: 30px;
	}
}

.post--side-content .post__title {
	@include respond-to('md') {
		margin-bottom: 30px;
	}
}

.post--side-content .post__excerpt {
	@include respond-to('md') {
		margin-bottom: 20px;
	}
}

.post--side-content--fade .post__text {

	@include respond-to('md') {
		width: 50%;
	}
}

.post--side-content--fade .post__text {
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
	background: linear-gradient(0deg,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);

	@include respond-to('md') {
		background: -webkit-linear-gradient(left,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
		background: linear-gradient(90deg,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
	}
}

.post--side-content--blurred .sub-background {
	visibility: hidden;

	&:after {
		content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-color: rgba(0, 0, 0, 0.2);
	}
}