/* -----------------------------------------------------------------
## Modal
----------------------------------------------------------------- */

.modal-dialog {
	margin: 15vh auto;
}

.modal-header {
	padding: 15px;

	@include respond-to('sm') {
		padding: 20px 30px;
	}
}

.modal-title.modal-title {
	margin: 0;
	@include font-meta;
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.42857143;
	text-transform: uppercase;
}