/* -----------------------------------------------------------------
## Tabs
----------------------------------------------------------------- */

ul.nav-tabs {
	padding-left: 0;
}

.nav-tabs>li>a {
	color: #aaa;
}

.panel-title.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
}