// =============================================================================
// ## UTILITIES
// =============================================================================

/* -----------------------------------------------------------------
## Objects
----------------------------------------------------------------- */

/*---- Responsive Video wrapper ----*/
.mnmd-responsive-video {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
    	position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: none;
    }
}

/*---- Rainbow bar ----*/
.rainbow-bar {
	width: 100%;
	height: 6px;
	background: linear-gradient(90deg, #a85e6c 0%, #a85e6c 12.5%, #e37f52 12.5%, #e37f52 25%, #ef9f48 25%, #ef9f48 37.5%, #9cb641 37.5%, #9cb641 50%, #009484 50%, #009484 62.5%, #21acb8 62.5%, #21acb8 75%, #1972dd 75%, #1972dd 87.5%, #8fa0ae 87.5%, #8fa0ae 100%);
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #a85e6c), color-stop(12.5%, #a85e6c), color-stop(12.5%, #e37f52), color-stop(25%, #e37f52), color-stop(25%, #ef9f48), color-stop(37.5%, #ef9f48), color-stop(37.5%, #9cb641), color-stop(50%, #9cb641), color-stop(50%, #009484), color-stop(62.5%, #009484), color-stop(62.5%, #21acb8), color-stop(75%, #21acb8), color-stop(75%, #1972dd), color-stop(87.5%, #1972dd), color-stop(87.5%, #8fa0ae), color-stop(100%, #8fa0ae));
	background-image: -webkit-linear-gradient(left, #a85e6c 0%, #a85e6c 12.5%, #e37f52 12.5%, #e37f52 25%, #ef9f48 25%, #ef9f48 37.5%, #9cb641 37.5%, #9cb641 50%, #009484 50%, #009484 62.5%, #21acb8 62.5%, #21acb8 75%, #1972dd 75%, #1972dd 87.5%, #8fa0ae 87.5%, #8fa0ae 100%);
	background-image: -moz-linear-gradient(left, #a85e6c 0%, #a85e6c 12.5%, #e37f52 12.5%, #e37f52 25%, #ef9f48 25%, #ef9f48 37.5%, #9cb641 37.5%, #9cb641 50%, #009484 50%, #009484 62.5%, #21acb8 62.5%, #21acb8 75%, #1972dd 75%, #1972dd 87.5%, #8fa0ae 87.5%, #8fa0ae 100%);
	background-image: -o-linear-gradient(left, #a85e6c 0%, #a85e6c 12.5%, #e37f52 12.5%, #e37f52 25%, #ef9f48 25%, #ef9f48 37.5%, #9cb641 37.5%, #9cb641 50%, #009484 50%, #009484 62.5%, #21acb8 62.5%, #21acb8 75%, #1972dd 75%, #1972dd 87.5%, #8fa0ae 87.5%, #8fa0ae 100%);
	background-image: linear-gradient(left, #a85e6c 0%,#a85e6c 12.5%,#e37f52 12.5%,#e37f52 25%,#ef9f48 25%,#ef9f48 37.5%,#9cb641 37.5%,#9cb641 50%,#009484 50%,#009484 62.5%,#21acb8 62.5%,#21acb8 75%,#1972dd 75%,#1972dd 87.5%,#8fa0ae 87.5%,#8fa0ae 100%);
}

/*---- Flexbox ----*/
.flexbox {
	@include display(flex);

	> * {
		@include flex(0 1 auto); /*IE fix*/
	}
}

.flexbox--middle {
	@include align-items(center);
}

.flexbox__item {
	@include flex(1);
}

/*---- Scrollable list ----*/
.mnmd-scrollable-list {
	@include display(flex);
	@include flex-direction(column);
}

.mnmd-scrollable-list-wrapper {
	position: relative;
	@include flex(1);
	overflow: hidden;
}

.mnmd-scrollable-list-inner {
	height: 0;
}

/* ----------------------------------------------------------------
	Background
-----------------------------------------------------------------*/

.block-with-bg {
	position: relative;
	padding: 10px;

	@include respond-to('sm') {
		padding: 20px;
	}
}

.background-wrap {
	overflow: hidden;
	background: #444;
}

.has-cover-bg-img,
.background-img {
	background-color: #333;
	background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.background-img {
	@include absolute(0);
	overflow: hidden;
	
	&:after {
		content: '';
		@include absolute(0, 0, 0, 0);
		background-color: #111;
		opacity: 0;
		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease);
	}
}

.background-img--dimmed {
	&:after {
		opacity: 0.2;
	}
}

.background-img--darkened {
	&:after {
		opacity: 0.4;
	}
}

.background-img--more-darkened {
	&:after {
		opacity: 0.6;
	}
}

.background-img--tinted {
	&:after {
		background-color: #fff;
	}
}

.background-img--floorfade {
	&:after {
		opacity: 1;
		background-color: transparent;
		background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,1) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
		background-image: linear-gradient(0deg,rgba(0,0,0,1) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
	}
}

.background-img--floorfade-light {
	&:after {
		opacity: 1;
		background-color: transparent;
		background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,1) 0,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
		background-image: linear-gradient(0deg,rgba(0,0,0,1) 0,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
	}
}

.background-img--scrim-bottom {
	&:after {
		opacity: 1;
		background-color: transparent;
		@include background-image(linear-gradient(0deg,
			hsl(0, 0%, 0%) 0%,
			hsla(0, 0%, 0%, 0.917) 5.3%,
			hsla(0, 0%, 0%, 0.834) 10.6%,
			hsla(0, 0%, 0%, 0.753) 15.9%,
			hsla(0, 0%, 0%, 0.672) 21.3%,
			hsla(0, 0%, 0%, 0.591) 26.8%,
			hsla(0, 0%, 0%, 0.511) 32.5%,
			hsla(0, 0%, 0%, 0.433) 38.4%,
			hsla(0, 0%, 0%, 0.357) 44.5%,
			hsla(0, 0%, 0%, 0.283) 50.9%,
			hsla(0, 0%, 0%, 0.213) 57.7%,
			hsla(0, 0%, 0%, 0.147) 65%,
			hsla(0, 0%, 0%, 0.089) 72.9%,
			hsla(0, 0%, 0%, 0.042) 81.4%,
			hsla(0, 0%, 0%, 0.011) 90.6%,
			hsla(0, 0%, 0%, 0) 100%
		));
	}
}

.background-pattern {
	@include absolute(0);
	overflow: hidden;
	background-color: #aaa;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
}

.background-svg-pattern {
	@include absolute(0);
	// background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-image: url("data:image/svg+xml,%3Csvg width='304' height='304' viewBox='0 0 304 304' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.1 224c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h44.1zm160 48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H82v-2h122.1zm57.8-46c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm0 16c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm6.2-114c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2zm-256-48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h12.1zm185.8 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2zM258 12.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V0h2v12.1zm-64 208c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-54.2c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9v54.2zm48-198.2c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V82h64v-2h-62V21.9zm16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V66h48v-2h-46V37.9zm-128 96c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V210h16v10.1c-2.282.463-4 2.48-4 4.9 0 2.76 2.24 5 5 5s5-2.24 5-5c0-2.42-1.718-4.437-4-4.9V208h-16v-74.1zm-5.9-21.9c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H114v48H85.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H112v-48h12.1zm-6.2 130c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H176v-74.1c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V242h-60.1zm-16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H114v48h10.1c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H112v-48h-10.1zM66 284.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V274H50v30h-2v-32h18v12.1zM236.1 176c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H274v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V146h-10.1zm-64 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H208v-80h16v-14h-42.1c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H226v18h-16v80h-12.1zm86.2-210c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H272V0h2v32h10.1zM98 101.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V144H53.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H98v-44.1zM53.9 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80V0h2v34H53.9zm60.1 3.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V64H80v64H69.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H82V66h32V37.9zM101.9 82c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H128V37.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-28.1zm16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H146v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V18h-26.1zm102.2 270c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H98v14h-2v-16h124.1zM242 149.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V162h16v30h-16v66h48v46h2v-48h-48v-62h16v-34h-16v-10.1zM53.9 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64V2H48V0h18v18H53.9zm112 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H192V0h50v2h-48v48h-28.1zm-48-48c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5 0-.342.034-.677.1-1h2.07c-.11.313-.17.65-.17 1 0 1.657 1.343 3 3 3s3-1.343 3-3c0-.35-.06-.687-.17-1H178v34h-18V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V32h14V2h-58.1zm0 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H137l32-32h39V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V66h-40.172l-32 32H117.9zm28.1 90.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-76.513L175.586 80H224V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-49.586L146 112.414V188.1zm16 32c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-99.513L184.586 96H300.1c.398-1.96 1.94-3.502 3.9-3.9v2.07c-1.165.413-2 1.524-2 2.83s.835 2.417 2 2.83v2.07c-1.96-.398-3.502-1.94-3.9-3.9H185.414L162 121.414V220.1zm-144-64c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-3.513l48-48V48h32V0h2v50H66v55.413l-48 48v2.687zM50 53.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v42.686l-48 48V210h28.1c.463 2.282 2.48 4 4.9 4 2.76 0 5-2.24 5-5s-2.24-5-5-5c-2.42 0-4.437 1.718-4.9 4H2v-62.586l48-48V53.9zm-16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v18.686l-32 32v2.828l34-34V69.9zM12.1 32c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H9.414L0 43.414v-2.828L8.586 32H12.1zm265.8 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h18.686L304 40.586v2.828L297.414 50H277.9zm-16 160c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H288V136.587l16-16v2.827l-14 14V210h-28.1zm-208 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64v-22.586L40.586 194H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.513L66 216.586V242H53.9zm150.2 14c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H96v-56.598L56.598 162H37.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.502L98 200.598V256h106.1zm-150.2 2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80v-46.586L48.586 178H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h27.513L82 208.586V258H53.9zM97 100c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-48 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 96c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-144c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM49 36c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM33 68c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 240c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm80-176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm112 176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 180c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 84c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 39.793V0h-2v40.586L8.586 64H0v2h9.413L34 41.414v-1.62zM2 300.1V258h14v46h2v-48H0V302.17c.313-.11.65-.17 1-.17 1.306 0 2.417.835 2.83 2H5.9c-.398-1.96-1.94-3.502-3.9-3.9zM34 241v63h-2v-62H0v-2h34v1zM17 18h1V0h-2v16H0v2h17zm273-2V0h-2v18h16v-2h-14zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1c.323-.066.658-.1 1-.1 2.76 0 5 2.24 5 5s-2.24 5-5 5c-.342 0-.677-.034-1-.1v-2.07c.313.11.65.17 1 .17 1.657 0 3-1.343 3-3s-1.343-3-3-3c-.35 0-.687.06-1 .17V92.1zM80 272h2v32h-2v-32zm37.9 32c-.463-2.282-2.48-4-4.9-4-2.42 0-4.437 1.718-4.9 4h2.07c.413-1.165 1.524-2 2.83-2s2.417.835 2.83 2h2.07zM5.9 0c.066.323.1.658.1 1 0 2.76-2.24 5-5 5-.342 0-.677-.034-1-.1V3.83C.313 3.94.65 4 1 4c1.657 0 3-1.343 3-3 0-.35-.06-.687-.17-1H5.9zm294.2 0c-.066.323-.1.658-.1 1 0 2.42 1.718 4.437 4 4.9V3.83c-1.165-.413-2-1.524-2-2.83 0-.35.06-.687.17-1h-2.07zm3.9 300.1c-1.96.398-3.502 1.94-3.9 3.9h2.07c.302-.852.978-1.528 1.83-1.83v-2.07z' fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
	// background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMTIxNjJkIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZS1vcGFjaXR5PSIwLjEiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZS1vcGFjaXR5PSIwLjEiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
	// background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.background-svg-pattern-inverse {
	@include absolute(0);
	// background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.03'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-image: url("data:image/svg+xml,%3Csvg width='304' height='304' viewBox='0 0 304 304' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.1 224c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h44.1zm160 48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H82v-2h122.1zm57.8-46c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm0 16c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm6.2-114c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2zm-256-48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h12.1zm185.8 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2zM258 12.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V0h2v12.1zm-64 208c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-54.2c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9v54.2zm48-198.2c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V82h64v-2h-62V21.9zm16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V66h48v-2h-46V37.9zm-128 96c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V210h16v10.1c-2.282.463-4 2.48-4 4.9 0 2.76 2.24 5 5 5s5-2.24 5-5c0-2.42-1.718-4.437-4-4.9V208h-16v-74.1zm-5.9-21.9c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H114v48H85.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H112v-48h12.1zm-6.2 130c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H176v-74.1c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V242h-60.1zm-16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H114v48h10.1c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H112v-48h-10.1zM66 284.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V274H50v30h-2v-32h18v12.1zM236.1 176c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H274v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V146h-10.1zm-64 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H208v-80h16v-14h-42.1c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H226v18h-16v80h-12.1zm86.2-210c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H272V0h2v32h10.1zM98 101.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V144H53.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H98v-44.1zM53.9 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80V0h2v34H53.9zm60.1 3.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V64H80v64H69.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H82V66h32V37.9zM101.9 82c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H128V37.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-28.1zm16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H146v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V18h-26.1zm102.2 270c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H98v14h-2v-16h124.1zM242 149.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V162h16v30h-16v66h48v46h2v-48h-48v-62h16v-34h-16v-10.1zM53.9 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64V2H48V0h18v18H53.9zm112 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H192V0h50v2h-48v48h-28.1zm-48-48c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5 0-.342.034-.677.1-1h2.07c-.11.313-.17.65-.17 1 0 1.657 1.343 3 3 3s3-1.343 3-3c0-.35-.06-.687-.17-1H178v34h-18V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V32h14V2h-58.1zm0 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H137l32-32h39V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V66h-40.172l-32 32H117.9zm28.1 90.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-76.513L175.586 80H224V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-49.586L146 112.414V188.1zm16 32c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-99.513L184.586 96H300.1c.398-1.96 1.94-3.502 3.9-3.9v2.07c-1.165.413-2 1.524-2 2.83s.835 2.417 2 2.83v2.07c-1.96-.398-3.502-1.94-3.9-3.9H185.414L162 121.414V220.1zm-144-64c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-3.513l48-48V48h32V0h2v50H66v55.413l-48 48v2.687zM50 53.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v42.686l-48 48V210h28.1c.463 2.282 2.48 4 4.9 4 2.76 0 5-2.24 5-5s-2.24-5-5-5c-2.42 0-4.437 1.718-4.9 4H2v-62.586l48-48V53.9zm-16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v18.686l-32 32v2.828l34-34V69.9zM12.1 32c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H9.414L0 43.414v-2.828L8.586 32H12.1zm265.8 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h18.686L304 40.586v2.828L297.414 50H277.9zm-16 160c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H288V136.587l16-16v2.827l-14 14V210h-28.1zm-208 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64v-22.586L40.586 194H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.513L66 216.586V242H53.9zm150.2 14c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H96v-56.598L56.598 162H37.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.502L98 200.598V256h106.1zm-150.2 2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80v-46.586L48.586 178H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h27.513L82 208.586V258H53.9zM97 100c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-48 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 96c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-144c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM49 36c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM33 68c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 240c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm80-176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm112 176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 180c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 84c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 39.793V0h-2v40.586L8.586 64H0v2h9.413L34 41.414v-1.62zM2 300.1V258h14v46h2v-48H0V302.17c.313-.11.65-.17 1-.17 1.306 0 2.417.835 2.83 2H5.9c-.398-1.96-1.94-3.502-3.9-3.9zM34 241v63h-2v-62H0v-2h34v1zM17 18h1V0h-2v16H0v2h17zm273-2V0h-2v18h16v-2h-14zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1c.323-.066.658-.1 1-.1 2.76 0 5 2.24 5 5s-2.24 5-5 5c-.342 0-.677-.034-1-.1v-2.07c.313.11.65.17 1 .17 1.657 0 3-1.343 3-3s-1.343-3-3-3c-.35 0-.687.06-1 .17V92.1zM80 272h2v32h-2v-32zm37.9 32c-.463-2.282-2.48-4-4.9-4-2.42 0-4.437 1.718-4.9 4h2.07c.413-1.165 1.524-2 2.83-2s2.417.835 2.83 2h2.07zM5.9 0c.066.323.1.658.1 1 0 2.76-2.24 5-5 5-.342 0-.677-.034-1-.1V3.83C.313 3.94.65 4 1 4c1.657 0 3-1.343 3-3 0-.35-.06-.687-.17-1H5.9zm294.2 0c-.066.323-.1.658-.1 1 0 2.42 1.718 4.437 4 4.9V3.83c-1.165-.413-2-1.524-2-2.83 0-.35.06-.687.17-1h-2.07zm3.9 300.1c-1.96.398-3.502 1.94-3.9 3.9h2.07c.302-.852.978-1.528 1.83-1.83v-2.07z' fill='%23000000' fill-opacity='0.025' fill-rule='evenodd'/%3E%3C/svg%3E");
	// background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.03'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.background-svg-pattern--solid-color {
	background-color: #12162d;
}

.overlap-background {
	@include absolute(0, 0, 60px, 0);

	.mnmd-carousel-nav-a & {
		bottom: 90px;
	}
}

.background-overlay {
	@include absolute(0);
	opacity: 0.6;
}

.js-overlay-bg-sub {
	display: none;
}

.blurred {
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px); 
	-o-filter: blur(10px); 
	-ms-filter: blur(10px);
}

.blurred-subtle {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px); 
	-o-filter: blur(5px); 
	-ms-filter: blur(5px);
}

.blurred-more {
	filter: blur(20px);
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
}

.blurred-massive {
	filter: blur(30px);
	-webkit-filter: blur(30px);
	-moz-filter: blur(30px);
	-o-filter: blur(30px);
	-ms-filter: blur(30px);
}

.grayscale {
	@include filter(grayscale(1));
}

.floorfade {
	background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(0deg,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
}

.floorfade-pseudo:before {
	content: '';
	@include absolute(0);
	background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(0deg,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
}

.ceilingfade {
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(180deg,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
}

.sidefade-from-left {
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(90deg,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
}

.sidefade-from-left--wide:before {
	content: '';
	@include absolute(0, 100%, 0, -9999px);
	background: rgba(0, 0, 0, 0.9);
}

.sidefade-from-left--pseudo:before {
	content: '';
	@include absolute(0);
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(90deg,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
}

.sidefade-from-right {
	background-image: -webkit-linear-gradient(right,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(-90deg,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
}

.color-primary {
	color: $color-primary;
}

.primary-bg-color {
	background-color: $color-primary !important;
}

.secondary-bg-color {
	background-color: $color-secondary !important;
}

.lightgray-bg {
	background-color: #fafafa; 
}

/* ----------------------------------------------------------------
	Positioning
-----------------------------------------------------------------*/

.abs-center {
	position: absolute !important;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	@include transform(translate( -50%, -50%) translateZ(0));
}

.stretched {
	@include absolute(0);
}

.overlay-content,
.overlay-content__inner {
	position: relative;
}

.overlay-bottom.overlay-bottom {
	@include absolute(auto, 0, 0, 0);
}

.overlay-center-y.overlay-center-y {
	@include absolute(50%, 0, auto, 0);
	@include transform(translate(0, -50%));
}

.overlap-bottom.overlap-bottom {
	@include absolute(auto, auto, 0, 50%);
	@include transform(translate(-50%, 50%));
}

.pos-relative {
	position: relative !important;
}

/* ----------------------------------------------------------------
	Padding & Margin
-----------------------------------------------------------------*/

.p-0 {
	padding: 0;
}

.p-t-0 {
	padding-top: 0;
}

.p-r-0 {
	padding-right: 0;
}

.p-b-0 {
	padding-bottom: 0;
}

.p-l-0 {
	padding-left: 0;
}

.p-xs {
	padding: $spacement-xs !important;
}

.p-t-xs {
	padding-top: $spacement-xs !important;
}

.p-r-xs {
	padding-right: $spacement-xs !important;
}

.p-b-xs {
	padding-bottom: $spacement-xs !important;
}

.p-l-xs {
	padding-left: $spacement-xs !important;
}

.p-x-xs {
	padding-left: $spacement-xs !important;
	padding-right: $spacement-xs !important;
}

.p-y-xs {
	padding-top: $spacement-xs !important;
	padding-bottom: $spacement-xs !important;
}

.p-sm {
	padding: $spacement-sm !important;
}

.p-t-sm {
	padding-top: $spacement-sm !important;
}

.p-r-sm {
	padding-right: $spacement-sm !important;
}

.p-b-sm {
	padding-bottom: $spacement-sm !important;
}

.p-l-sm {
	padding-left: $spacement-sm !important;
}

.p-x-sm {
	padding-left: $spacement-sm !important;
	padding-right: $spacement-sm !important;
}

.p-y-sm {
	padding-top: $spacement-sm !important;
	padding-bottom: $spacement-sm !important;
}

.p-md {
	padding: $spacement-md !important;
}

.p-t-md {
	padding-top: $spacement-md !important;
}

.p-r-md {
	padding-right: $spacement-md !important;
}

.p-b-md {
	padding-bottom: $spacement-md !important;
}

.p-l-md {
	padding-left: $spacement-md !important;
}

.p-x-md {
	padding-left: $spacement-md !important;
	padding-right: $spacement-md !important;
}

.p-y-md {
	padding-top: $spacement-md !important;
	padding-bottom: $spacement-md !important;
}

.p-lg {
	padding: $spacement-lg !important;
}

.p-t-lg {
	padding-top: $spacement-lg !important;
}

.p-r-lg {
	padding-right: $spacement-lg !important;
}

.p-b-lg {
	padding-bottom: $spacement-lg !important;
}

.p-l-lg {
	padding-left: $spacement-lg !important;
}

.p-x-lg {
	padding-left: $spacement-lg !important;
	padding-right: $spacement-lg !important;
}

.p-y-lg {
	padding-top: $spacement-lg !important;
	padding-bottom: $spacement-lg !important;
}

.p-xl {
	padding: $spacement-xl !important;
}

.p-t-xl {
	padding-top: $spacement-xl !important;
}

.p-r-xl {
	padding-right: $spacement-xl !important;
}

.p-b-xl {
	padding-bottom: $spacement-xl !important;
}

.p-l-xl {
	padding-left: $spacement-xl !important;
}

.p-x-xl {
	padding-left: $spacement-xl !important;
	padding-right: $spacement-xl !important;
}

.p-y-xl {
	padding-top: $spacement-xl !important;
	padding-bottom: $spacement-xl !important;
}

.p-xxl {
	padding: $spacement-xxl !important;
}

.p-t-xxl {
	padding-top: $spacement-xxl !important;
}

.p-r-xxl {
	padding-right: $spacement-xxl !important;
}

.p-b-xxl {
	padding-bottom: $spacement-xxl !important;
}

.p-l-xxl {
	padding-left: $spacement-xxl !important;
}

.p-x-xxl {
	padding-left: $spacement-xxl !important;
	padding-right: $spacement-xxl !important;
}

.p-y-xxl {
	padding-top: $spacement-xxl !important;
	padding-bottom: $spacement-xxl !important;
}

.m-l-a {
	margin-left: auto !important;
}

.m-r-a {
	margin-right: auto !important;
}

.m-x-a {
	margin-left: auto !important;
	margin-right: auto !important;
}

.m-0 {
	margin: 0;
}

.m-t-0 {
	margin-top: 0;
}

.m-r-0 {
	margin-right: 0;
}

.m-b-0 {
	margin-bottom: 0;
}

.m-l-0 {
	margin-left: 0;
}

.m-xs {
	margin: $spacement-xs !important;
}

.m-t-xs {
	margin-top: $spacement-xs !important;
}

.m-r-xs {
	margin-right: $spacement-xs !important;
}

.m-b-xs {
	margin-bottom: $spacement-xs !important;
}

.m-l-xs {
	margin-left: $spacement-xs !important;
}

.m-x-xs {
	margin-left: $spacement-xs !important;
	margin-right: $spacement-xs !important;
}

.m-y-xs {
	margin-top: $spacement-xs !important;
	margin-bottom: $spacement-xs !important;
}

.m-sm {
	margin: $spacement-sm !important;
}

.m-t-sm {
	margin-top: $spacement-sm !important;
}

.m-r-sm {
	margin-right: $spacement-sm !important;
}

.m-b-sm {
	margin-bottom: $spacement-sm !important;
}

.m-l-sm {
	margin-left: $spacement-sm !important;
}

.m-x-sm {
	margin-left: $spacement-sm !important;
	margin-right: $spacement-sm !important;
}

.m-y-sm {
	margin-top: $spacement-sm !important;
	margin-bottom: $spacement-sm !important;
}

.m-md {
	margin: $spacement-md !important;
}

.m-t-md {
	margin-top: $spacement-md !important;
}

.m-r-md {
	margin-right: $spacement-md !important;
}

.m-b-md {
	margin-bottom: $spacement-md !important;
}

.m-l-md {
	margin-left: $spacement-md !important;
}

.m-x-md {
	margin-left: $spacement-md !important;
	margin-right: $spacement-md !important;
}

.m-y-md {
	margin-top: $spacement-md !important;
	margin-bottom: $spacement-md !important;
}

.m-lg {
	margin: $spacement-lg !important;
}

.m-t-lg {
	margin-top: $spacement-lg !important;
}

.m-r-lg {
	margin-right: $spacement-lg !important;
}

.m-b-lg {
	margin-bottom: $spacement-lg !important;
}

.m-l-lg {
	margin-left: $spacement-lg !important;
}

.m-x-lg {
	margin-left: $spacement-lg !important;
	margin-right: $spacement-lg !important;
}

.m-y-lg {
	margin-top: $spacement-lg !important;
	margin-bottom: $spacement-lg !important;
}

.m-xl {
	margin: $spacement-xl !important;
}

.m-t-xl {
	margin-top: $spacement-xl !important;
}

.m-r-xl {
	margin-right: $spacement-xl !important;
}

.m-b-xl {
	margin-bottom: $spacement-xl !important;
}

.m-l-xl {
	margin-left: $spacement-xl !important;
}

.m-x-xl {
	margin-left: $spacement-xl !important;
	margin-right: $spacement-xl !important;
}

.m-y-xl {
	margin-top: $spacement-xl !important;
	margin-bottom: $spacement-xl !important;
}

.m-xxl {
	margin: $spacement-xxl !important;
}

.m-t-xxl {
	margin-top: $spacement-xxl !important;
}

.m-r-xxl {
	margin-right: $spacement-xxl !important;
}

.m-b-xxl {
	margin-bottom: $spacement-xxl !important;
}

.m-l-xxl {
	margin-left: $spacement-xxl !important;
}

.m-x-xxl {
	margin-left: $spacement-xxl !important;
	margin-right: $spacement-xxl !important;
}

.m-y-xxl {
	margin-top: $spacement-xxl !important;
	margin-bottom: $spacement-xxl !important;
}

.spacer-xs {
	height: $spacement-xs * 2;
	clear: both;
}

.spacer-sm {
	height: $spacement-sm * 2;
	clear: both;
}

.spacer-md {
	height: $spacement-md * 2;
	clear: both;
}

.spacer-lg {
	height: $spacement-lg * 2;
	clear: both;
}

.spacer-xl {
	height: $spacement-xl * 2;
	clear: both;
}

.spacer-xxl {
	height: $spacement-xxl * 2;
	clear: both;
}

/* ----------------------------------------------------------------
	Width & Height
-----------------------------------------------------------------*/

.max-width-xs {
	max-width: 320px !important;
}

.max-width-sm {
	max-width: 720px !important;
}

.max-width-md {
	max-width: 940px !important;
}

.max-width-lg {
	max-width: 1140px !important;
}

.max-width-xl {
	max-width: 1440px !important;
}

.max-width-xxl {
	max-width: 1920px !important;
}

[class*="max-width-"].text-center {
	margin-left: auto;
	margin-right: auto;
}

.fullwidth-xs {
	@include respond-to('xs-only') {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
	}
}

/*---- Ratio ----*/
.ratio-1by1 {
	position: relative;
    padding-bottom: 100%;
    height: 0;
}

.ratio-2by1 {
	position: relative;
    padding-bottom: 50%;
    height: 0;
}

.ratio-3by1 {
	position: relative;
    padding-bottom: 33.33%;
    height: 0;
}

.ratio-4by3 {
	position: relative;
    padding-bottom: 75%;
    height: 0;
}

.ratio-16by9 {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

/* ----------------------------------------------------------------
	Text styling
-----------------------------------------------------------------*/

.text-center-xs {
	@include respond-to('xs-only') {
		text-align: center;
	}
}

.text-white {
	color: #fff !important;
}

.text-underline {
	text-decoration: underline;
}

.text-font-primary {
	font-family: $font-primary;
}

.text-font-secondary {
	font-family: $font-secondary;
}

.text-font-tertiary {
	font-family: $font-tertiary;
}

.inverse-text {
	position: relative;
	color: $color-font-primary-inverse;
}

.inverse-text .text-secondary {
	color: $color-font-secondary-inverse;
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.truncate-y {
	position: relative;
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		@include size(100% 40px);
		@include absolute(auto, 0, 0, 0);
		background: -webkit-linear-gradient(bottom,rgba(0,0,0,1) 0,rgba(255,255,255,0.7) 70%,rgba(255,255,255,0) 100%);
		background: linear-gradient(0deg,rgba(255,255,255,1) 0,rgba(255,255,255,0.7) 70%,rgba(255,255,255,0) 100%);
	}
}

.link-overlay {
	display: block;
	@include absolute(0);
}

.link-block {
	display: block;
}

.meta-color,
a.meta-color {
	color: $color-meta;
}

.meta-text,
a.meta-text {
	@include font-meta;
	color: $color-meta;
}

.meta-font,
a.meta-font {
	@include font-meta;
}

.v-align {
    vertical-align: middle;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.has-mdicon > span,
.has-mdicon > b,
.has-mdicon > em,
.has-mdicon > strong,
.has-mdicon > a,
.has-mdicon > i {
	vertical-align: middle;
}

/* ----------------------------------------------------------------
	List styling
-----------------------------------------------------------------*/

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-center {
	text-align: center;
}

.list-center > li {
	display: inline-block;
}

.list-float {
	@include clearfix;
}

.list-float > li {
	float: left;
}

.list-space-xs {
	margin-top: -($spacement-xs/2);
	margin-bottom: -($spacement-xs/2);
}

.list-space-xs > * {
	padding-top: ($spacement-xs/2);
	padding-bottom: ($spacement-xs/2);
}

.list-space-sm {
	margin-top: -($spacement-sm/2);
	margin-bottom: -($spacement-sm/2);
}

.list-space-sm > * {
	padding-top: ($spacement-sm/2);
	padding-bottom: ($spacement-sm/2);
}

.list-space-md {
	margin-top: -($spacement-md/2);
	margin-bottom: -($spacement-md/2);
}

.list-space-md > * {
	padding-top: ($spacement-md/2);
	padding-bottom: ($spacement-md/2);
}

.list-space-lg {
	margin-top: -($spacement-lg/2);
	margin-bottom: -($spacement-lg/2);
}

.list-space-lg > * {
	padding-top: ($spacement-lg/2);
	padding-bottom: ($spacement-lg/2);
}

.list-space-xl {
	margin-top: -($spacement-xl/2);
	margin-bottom: -($spacement-xl/2);
}

.list-space-xl > * {
	padding-top: ($spacement-xl/2);
	padding-bottom: ($spacement-xl/2);
}

.list-space-xxl {
	margin-top: -($spacement-xxl/2);
	margin-bottom: -($spacement-xxl/2);
}

.list-space-xxl > * {
	padding-top: ($spacement-xxl/2);
	padding-bottom: ($spacement-xxl/2);
}

.list-horizontal {
	margin-top: 0;
	margin-bottom: 0;
}

.list-horizontal > li {
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
}

.list-horizontal.list-space-xs {
	margin-left: -($spacement-xs/2);
	margin-right: -($spacement-xs/2);
}

.list-horizontal.list-space-xs > * {
	padding-left: ($spacement-xs/2);
	padding-right: ($spacement-xs/2);
}

.list-horizontal.list-space-sm {
	margin-left: -($spacement-sm/2);
	margin-right: -($spacement-sm/2);
}

.list-horizontal.list-space-sm > * {
	padding-left: ($spacement-sm/2);
	padding-right: ($spacement-sm/2);
}

.list-horizontal.list-space-md {
	margin-left: -($spacement-md/2);
	margin-right: -($spacement-md/2);
}

.list-horizontal.list-space-md > * {
	padding-left: ($spacement-md/2);
	padding-right: ($spacement-md/2);
}

.list-horizontal.list-space-lg {
	margin-left: -($spacement-lg/2);
	margin-right: -($spacement-lg/2);
}

.list-horizontal.list-space-lg > * {
	padding-left: ($spacement-lg/2);
	padding-right: ($spacement-lg/2);
}
.list-horizontal.list-space-xl {
	margin-left: -($spacement-xl/2);
	margin-right: -($spacement-xl/2);
}

.list-horizontal.list-space-xl > * {
	padding-left: ($spacement-xl/2);
	padding-right: ($spacement-xl/2);
}
.list-horizontal.list-space-xxl {
	margin-left: -($spacement-xxl/2);
	margin-right: -($spacement-xxl/2);
}

.list-horizontal.list-space-xxl > * {
	padding-left: ($spacement-xxl/2);
	padding-right: ($spacement-xxl/2);
}

[class*="list-seperated"].list-space-xs {
	margin-top: -($spacement-xs);
	margin-bottom: -($spacement-xs);
}

[class*="list-seperated"].list-space-xs > * {
	padding-top: ($spacement-xs);
	padding-bottom: ($spacement-xs);
}

[class*="list-seperated"].list-space-sm {
	margin-top: -($spacement-sm);
	margin-bottom: -($spacement-sm);
}

[class*="list-seperated"].list-space-sm > * {
	padding-top: ($spacement-sm);
	padding-bottom: ($spacement-sm);
}

[class*="list-seperated"].list-space-md {
	margin-top: -($spacement-md);
	margin-bottom: -($spacement-md);
}

[class*="list-seperated"].list-space-md > * {
	padding-top: ($spacement-md);
	padding-bottom: ($spacement-md);
}

[class*="list-seperated"].list-space-lg {
	margin-top: -($spacement-lg);
	margin-bottom: -($spacement-lg);
}

[class*="list-seperated"].list-space-lg > * {
	padding-top: ($spacement-lg);
	padding-bottom: ($spacement-lg);
}

[class*="list-seperated"].list-space-xl {
	margin-top: -($spacement-xl);
	margin-bottom: -($spacement-xl);
}

[class*="list-seperated"].list-space-xl > * {
	padding-top: ($spacement-xl);
	padding-bottom: ($spacement-xl);
}

[class*="list-seperated"].list-space-xxl {
	margin-top: -($spacement-xxl);
	margin-bottom: -($spacement-xxl);
}

[class*="list-seperated"].list-space-xxl > * {
	padding-top: ($spacement-xxl);
	padding-bottom: ($spacement-xxl);
}

[class*="list-seperated"] > *:not(:last-child) {
	border-bottom: $border-thin;
}

.list-seperated-include-first > *:first-child {
	border-top: $border-thin;
}

.list-seperated-include-last > *:last-child {
	border-bottom: $border-thin;
}

.list-seperated-exclude-first > *:first-child {
	border-bottom: none;
}

.inverse-text .list-seperated > *:not(:last-child),
.overlay-content .list-seperated > *:not(:last-child) {
	border-bottom: $border-thin-inverse;
}

.inverse-text .list-seperated-include-first > *:first-child,
.overlay-content .list-seperated-include-first > *:first-child {
	border-top: $border-thin-inverse;
}

.inverse-text .list-seperated-include-last > *:last-child,
.overlay-content .list-seperated-include-last > *:last-child {
	border-bottom: $border-thin-inverse;
}

.list-square-bullet {
	list-style: none;
}

.list-square-bullet > li > * {
	position: relative;
	padding-left: 15px;

	&:before {
		content: '';
		display: inline-block;
		width: 5px;
		height: 5px;
		@include absolute(0.5em, auto, auto, 0);
		background: rgba(0, 0, 0, 0.1);
	}
}

.list-square-bullet-exclude-first > li:not(:first-child) > * {
	position: relative;
	padding-left: 15px;

	&:before {
		content: '';
		display: inline-block;
		width: 5px;
		height: 5px;
		@include absolute(0.58em, auto, auto, 0);
		background: rgba(0, 0, 0, 0.1);
	}
}

/* ----------------------------------------------------------------
	Social branding color
-----------------------------------------------------------------*/

.facebook-theme,
.facebook-theme-hover:hover {
	color: #3b5998 !important;
}

.facebook-theme-bg,
.facebook-theme-bg-hover:hover {
	background-color: #3b5998 !important;
}

.twitter-theme,
.twitter-theme-hover:hover {
	color: #55acee !important;
}

.twitter-theme-bg,
.twitter-theme-bg-hover:hover {
	background-color: #55acee !important;
}

.youtube-theme,
.youtube-theme-hover:hover {
	color: #cd201f !important;
}

.youtube-theme-bg,
.youtube-theme-bg-hover:hover {
	background-color: #cd201f !important;
}

.pinterest-theme,
.pinterest-theme-hover:hover {
	color: #bd081c !important;
}

.pinterest-theme-bg,
.pinterest-theme-bg-hover:hover {
	background-color: #bd081c !important;
}

.googleplus-theme,
.googleplus-theme-hover:hover {
	color: #dc4e41 !important;
}

.googleplus-theme-bg,
.googleplus-theme-bg-hover:hover {
	background-color: #dc4e41 !important;
}

.tumblr-theme,
.tumblr-theme-hover:hover {
	color: #35465c !important;
}

.tumblr-theme-bg,
.tumblr-theme-bg-hover:hover {
	background-color: #35465c !important;
}

.instagram-theme,
.instagram-theme-hover:hover {
	color: #3f729b !important;
}

.instagram-theme-bg,
.instagram-theme-bg-hover:hover {
	background-color: #3f729b !important;
}

.vk-theme,
.vk-theme-hover:hover {
	color: #45668e !important;
}

.vk-theme-bg,
.vk-theme-bg-hover:hover {
	background-color: #45668e !important;
}

/* ----------------------------------------------------------------
	Shadows
-----------------------------------------------------------------*/

@for $i from 1 through 5 {
	.shadow-#{$i},
	.mnmd-carousel-shadow-#{$i} .owl-stage-outer {
		@include shadow($i);
	}
}

@for $i from 1 through 5 {
	.shadow-hover-#{$i} {
		@include transition();

		&:hover {
			@include shadow($i);
		}
	}
}

.stacked-top {
	box-shadow: 0 -20px 0 -10px #f5f5f5, 0 -38px 0 -20px #fafafa;
}

.stacked-bottom {
	box-shadow: 0 20px 0 -10px #f5f5f5, 0 38px 0 -20px #fafafa;
}

/* ----------------------------------------------------------------
	Animation
-----------------------------------------------------------------*/

@include keyframes(kenburns) {
	0% {
		@include transform(scale(1.2));
	}
	100% {
		@include transform(scale(1));
	}
}

/*---- Scrollable container ----*/

.scroll-area-horizontal {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.scroll-area-horizontal__inner {
	@include display(flex);
	@include flex-wrap(no-wrap);
}

.scroll-area-horizontal__inner > * {
	@include flex(0 0 auto);
}

.kenburns {
	@include transform-origin(100% 100%);
	@include animation-name(kenburns);
	@include animation-duration(30s);
	@include animation-timing-function(ease-out);
	@include animation-iteration-count(infinite);
	@include animation-direction(alternate);
}

