/* -----------------------------------------------------------------
## 404
----------------------------------------------------------------- */

.page-404-logo {
	margin-bottom: 60px;
}

.page-404-image {
	margin-bottom: 30px;
}

.page-404-search {
	max-width: 400px;
	margin: auto;
}