// =============================================================================
// ## LAYOUT
// =============================================================================

.site-wrapper {
	overflow: hidden;
}

.site-content {
	padding-top: 20px;
	padding-bottom: 30px;

	@include respond-to('sm') {
		padding-top: 40px;
		padding-bottom: 60px;
	}
}

.container.fullwidth-xs {
	@include respond-to('xs-only') {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}
}

.container--narrow {
	max-width: 970px;
}

.container--wide {
	width: 100%;
	max-width: 1440px;
}

.container--fw {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;

	@include respond-to('sm') {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.mnmd-main-col {
	width: 100%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;

	@include respond-to('md') {
		width: $content-width-small;
	}

	@include respond-to('lg') {
		width: $content-width;
		padding-right: 35px;
	}

	&.has-left-sidebar {
		float: right;

		@include respond-to('lg') {
			padding-left: 35px;
			padding-right: 15px;
		}
	}
}

.mnmd-sub-col {
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;

	@include respond-to('md') {
		padding-top: 0;
		width: $sidebar-width-small;
	}

	@include respond-to('lg') {
		width: $sidebar-width;
	}
}

.row--flex {
	@include display(flex);
	@include flex-wrap(wrap);

	&.row--vertical-center {
		@include align-items(center);
	}
}

.row--flex > [class*='col-'] {
	float: none;
}

.row--stack > [class*='col-'] {
	margin-bottom: 30px;
}

.row--space-between {
	margin-top: -15px;
	margin-bottom: -15px;
	clear: both;
}

.row--space-between > [class*='col-'] {
	padding-top: 15px;
	padding-bottom: 15px;
}

.grid-no-gutter {
	@include grid-modifier(0);
}

.grid-gutter-2 {
	@include grid-modifier(2px);	
}

.grid-gutter-4 {
	@include grid-modifier(4px);	
}

.grid-gutter-10 {
	@include grid-modifier(10px);	
}

.grid-gutter-20 {
	@include grid-modifier(20px);	
}

.grid-gutter-40 {
	@include grid-modifier(40px);	
}

.grid-gutter-50 {
	@include grid-modifier(50px);	
}