@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
/* ****************************** */
/* Color */
/* ****************************** */

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

:root {
    --color-primary: #ea7118;
    --color-secondary: #222222;
}

.block-heading .block-heading__title {
    font-family: "Source Sans Pro", sans-serif;
    color: var(--color-primary);
    font-size: 1.4285rem;

    border-left: 4px solid var(--color-primary);
    padding-left: 20px;
    line-height: 1.4rem;

    margin-bottom: 40px;
}

.block-heading .block-heading__title.block-heading__title--noneborder {
    font-family: "Roboto", sans-serif;
    border: none;
    margin-bottom: 0;
    padding-left: 0;
    letter-spacing: normal;
}

.post__title {
    font-family: "Source Sans Pro", sans-serif;
}

a.post__cat {
    border: none;
}

a.post__cat,
time.time,
.post__excerpt,
.post__meta,
.entry-meta,
.btn-read-more {
    font-family: "Roboto", sans-serif;
}

time.time,
.post__excerpt {
    color: var(--color-secondary);
    opacity: 0.6;
}

.post__title {
    color: var(--color-secondary);
}

.f-w-300 {
    font-weight: 300;
}

.f-w-500 {
    font-weight: 500;
}

.f-w-600 {
    font-weight: 600;
}

.f-w-700 {
    font-weight: 700;
}

.m-0 {
    margin: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-r-90 {
    margin-right: 90px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-t-60 {
    padding-top: 60px;
}

.p-l-50 {
    padding-left: 50px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-r-35 {
    padding-right: 35px;
}

.p-r-50 {
    padding-right: 50px;
}

.p-r-80 {
    padding-right: 80px;
}

.p-r-100 {
    padding-right: 100px;
}

.p-r-120 {
    padding-right: 120px;
}

.p-r-195 {
    padding-right: 195px;
}
/* min height */
.min-height-260 {
    min-height: 260px;
}



.post__text--spacing-1 > * {
    margin-top: 0;
    margin-bottom: 20px;
}

.post__text--spacing-1 > :first-child {
    margin-bottom: 10px;
}

.post__text--spacing-1 .post__title:not(:last-child) {
    margin-top: 0;
    margin-bottom: 20px;
}

.post__text--spacing-1 .post__title:not(:last-child).f-30 {
    margin-top: 0;
    margin-bottom: 15px;
}

.post__text--spacing-1 > :last-child {
    margin-bottom: 0;
}


.post__text--spacing-1 .post__text-group > .post__title,
.post__text--spacing-1 .post__text-group > * {
    margin: 0 auto;
}

.post__text--spacing-1 .post__text-group:not(:last-child) {
    margin-bottom: 20px;
}

.post--vertical.post--spacing-1 .post__thumb {
    margin-bottom: 25px;
    margin-top: 0;
}

.post--vertical.post--vertical-reverse.post--spacing-1 .post__thumb {
    margin-bottom: 0;
    margin-top: 25px;
}

.mnmd-featured-module-1
    .right-section
    .post--vertical.post--spacing-1
    .post__thumb {
    margin-bottom: 30px;
}

.post__text--spacing-1 .post__meta-author-light:not(:last-child) {
    margin-bottom: 30px;
}

.post__text--spacing-1 .post__readmore {
    margin: 0;
}
    
.post--has-btn-readmore .post__text--spacing-1 > *:nth-last-child(2){
    margin-bottom: 0;
}


/* ****************************** */
/* Section */
/* ****************************** */

.post__meta,
.entry-meta {
    line-height: 1;
}

.post--overlay .min-height-500 {
    min-height: 35.7143rem;
}

.mnmd-featured-module-1 .left-section {
    order: -1;
}

.mnmd-featured-module-1 .middle-section {
    width: 630px;
    padding: 0 30px;
}

.mnmd-featured-module-1 .left-section,
.mnmd-featured-module-1 .right-section {
    width: 270px;
}

.mnmd-featured-module-1 .middle-section:last-child {
    padding: 0;
    width: 570px;
}

/* Post text middle */

.f-30 {
    line-height: 1.3;
}

.post--overlay-has-background-inner .post__text-inner {
    background-color: #ffffff;
    margin-right: 50px;
}

.post--overlay-has-background-inner--style-1 .post__text-inner {
    margin-right: 158px;
    padding: 25px 90px 1px 20px;
}

.post--overlay-has-background-inner .post__text {
    height: 100%;
}

.post__excerpt {
    font-size: 1.0714rem;
    line-height: 1.5;
}

.post__excerptpost__excerpt--f-12 {
    font-size: 0.8571rem;
    line-height: 1.5;
}

a.post__cat.post__cat--heading-style-1 {
    color: var(--color-primary);
    padding: 0;
    font-size: 0.8571rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 8px;
}

.post__meta-heading a.post__cat {
    color: var(--color-primary);
    padding: 0;
    font-size: 0.8571rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0;
}

.post__meta-heading--style-1 a.post__cat,
time.time {
    text-transform: uppercase;
}

.post__meta-heading--style-1 .post__cat::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 1px;
    margin-left: 15px;
    background-color: var(--color-primary);
}

.post__meta-heading--style-1 .post__cat:not(:last-child) {
    margin-right: 5px;
}
/* Post text left */

.post--vertical-reverse {
    display: flex;
    flex-wrap: wrap;
}

.post--vertical-reverse .post__text {
    order: -1;
}

.atbs--post-custom .post__thumb--height-180 {
    width: 100%;
    height: 180px;
}

.atbs--post-custom .post__thumb a,
.atbs--post-custom .post__thumb img {
    width: 100%;
    height: 100%;
}

.post__thumb img {
    object-fit: cover;
}

.atbs--post-custom .post__thumb-70 {
    width: 70px;
    height: 70px;
}

.left-section .main-post {
    padding-top: 25px;
}

.left-section .sub-post {
    margin-top: 30px;
}

.atbs--post-custom.post--horizontal .post__thumb {
    margin-right: 15px;
}

/* post right */
.atbs--post-custom .post__thumb--height-300 {
    width: 100%;
    height: 300px;
}

.right-section .post--vertical .post__thumb {
    margin-bottom: 25px;
}

.abts-post--custom.post--vertical .post__thumb {
    margin-bottom: 27px;
}

.post__readmore--style-1 {
    background-color: var(--color-primary);
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
}

.post__readmore--style-1 .readmore__text svg {
    fill: #fff;
    width: 16px;
}
.post__readmore--style-2 {
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
}

.post__readmore--style-2 .readmore__text svg {
    fill: #b2b2b2;
    width: 20px;
}

.post__readmore--style-2:hover svg {
    fill: var(--color-primary);
}

.overlay-item--bottom-right {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
}

.overlay-item--middle-left {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
}

.overlay-item--middle-left-25 {
    position: absolute;
    top: 50%;
    left: -25px;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
}

.overlay-item--middle-right {
    position: absolute;
    top: 50%;
    left: auto;
    bottom: auto;
    right: 0;
    transform: translateY(-50%);
}

.overlay-item--middle-right-25 {
    position: absolute;
    top: 50%;
    left: auto;
    bottom: auto;
    right: -25px;
    transform: translateY(-50%);
}

.overlay-item--bottom-right-100 {
    right: auto;
    left: 100%;
}

@media (max-width: 1199px) {
    .mnmd-featured-module-1 .middle-section {
        width: 506.1538px;
    }

    .post--overlay-has-background-inner .post__text-inner {
        margin-right: 80px;
    }

    .mnmd-featured-module-1 .left-section,
    .mnmd-featured-module-1 .right-section {
        width: auto;
        flex: 1;
    }

    .atbs--post-custom .post__thumb--height-300 {
        height: 270px;
    }

    .atbs--post-custom .post__thumb--height-180 {
        height: 150px;
    }
}

@media (max-width: 991px) {
    .post--overlay-has-background-inner .post__text-inner {
        margin-right: 158px;
    }

    .mnmd-featured-module-1 .left-section {
        order: 0;
    }

    .mnmd-featured-module-1 .middle-section {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }

    .mnmd-featured-module-1 .left-section,
    .mnmd-featured-module-1 .right-section {
        flex: none;
        width: 50%;
    }

    .mnmd-featured-module-1 .left-section {
        padding-right: 15px;
    }
    .mnmd-featured-module-1 .right-section {
        padding-left: 15px;
    }

    .atbs--post-custom .post__thumb--height-300 {
        height: 330px;
    }

    .atbs--post-custom .post__thumb--height-180 {
        height: 200px;
    }
}

@media (max-width: 767px) {
    .atbs--post-custom.post--horizontal {
        display: flex;
    }
    .post--horizontal.atbs--post-custom .post__text {
        flex: 1;
    }
}

@media (max-width: 575px) {
    .post--overlay-has-background-inner .post__text-inner {
        margin-right: 80px;
    }

    .post--overlay .min-height-500 {
        min-height: 330px;
    }

    .atbs--post-custom .post__thumb--height-300 {
        height: 270px;
    }

    .atbs--post-custom .post__thumb--height-180 {
        height: 150px;
    }
}

@media (max-width: 480px) {
    .mnmd-featured-module-1 .left-section,
    .mnmd-featured-module-1 .right-section {
        width: 100%;
        padding: 0;
    }

    .atbs--post-custom .post__thumb--height-300 {
        height: 330px;
    }

    .atbs--post-custom .post__thumb--height-180 {
        height: 270px;
    }
}
