.post--overlay-has-background-inner.post--overlay-has-background-inner--fullwidth  {
    width: calc(100% + (100vw - 1170px)/2);
    margin-left: calc((100vw - 1170px)/ 2 * -1);
    height: 100%;
}

.mnmd-featured-module-3 .right-section{
    width: 370px;
}

.mnmd-featured-module-3 .left-section{
    flex: 1;
    max-width: 900px;
}

.post--overlay-has-background-inner.post--overlay-has-background-inner--fullwidth .post__text-inner{
    padding-left: calc((100vw - 1170px)/2);
    padding-right: 60px;
    padding-bottom: 30px;
    margin-right: 400px;
}

.mnmd-featured-module-3 .right-section .post--vertical .post__thumb{
    margin-bottom: 48px;
}

.post__meta-footer a.post__cat{
    color: var(--color-primary);
}

.btn-read-more{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-primary);
    padding: 0;
}

.btn-read-more--bot-right{
    position: absolute;
    left: auto;
    top: auto;
    right: 35px;
    bottom: 0;
}

@media (max-width: 1199px) {
    .post--overlay-has-background-inner.post--overlay-has-background-inner--fullwidth {
        width: calc(100% + (100vw - 940px)/2);
        margin-left: calc((100vw - 940px)/ 2 * -1);
        height: 100%;
    }
    
    .post--overlay-has-background-inner.post--overlay-has-background-inner--fullwidth .post__text-inner{
        padding-left: calc((100vw - 940px)/2);
        margin-right: 200px;
    }
}

@media (max-width: 991px) {
    .post--overlay-has-background-inner.post--overlay-has-background-inner--fullwidth{
        width: calc(100% + (100vw - 720px)/2);
        margin-left: calc((100vw - 720px)/ 2 * -1);
        height: 100%;
    }
    
    .mnmd-featured-module-3 .right-section{
        width: 300px;
    }

    .post--overlay-has-background-inner.post--overlay-has-background-inner--fullwidth .post__text-inner{
        padding-left: calc((100vw - 720px)/2);
        margin-right: 100px;
    }

    .mnmd-featured-module-3 .right-section .post--vertical .post__thumb{
        margin-bottom: 28px;
    }

    .mnmd-featured-module-3 .post--vertical .post__text.p-l-50{
        padding-left: 20px;
    }

    .mnmd-featured-module-3 .post--vertical .post__text.p-r-35{
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .post--overlay-has-background-inner.post--overlay-has-background-inner--fullwidth{
        width: 100vw ;
        margin-left: -15px;
        margin-right: -15px;
    }

    .mnmd-featured-module-3 .right-section{
        width: 100%;
    }

    .post--overlay-has-background-inner.post--overlay-has-background-inner--fullwidth .post__text-inner{
        max-width: none;
        margin-right: 200px;
        padding-left: 30px;
    }

    .mnmd-block__inner.d-flex{
        flex-wrap: wrap;
    }

    .mnmd-featured-module-3 .right-section{
        margin-top: 20px;
    }

    .mnmd-featured-module-3 .right-section .post--vertical{
        display: flex;
    }

    .mnmd-featured-module-3 .right-section .post--vertical .post__thumb{
        margin: 0;
    }
}

@media (max-width: 575px) {
    .post--overlay-has-background-inner.post--overlay-has-background-inner--fullwidth .post__text-inner{
        margin-right: 100px;
    }

    .mnmd-featured-module-3 .right-section .post--vertical{
        display: block;
    }

    .mnmd-featured-module-3 .right-section .post--vertical .post__thumb{
        margin-bottom: 20px;
    }
}
