.heading-inside,
.heading__title-inside {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.align-center {
    align-items: center;
}

.btn.view-all {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: "Source Sans Pro", sans-serif;
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding-right: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.btn.view-all:hover, .btn.view-all:focus, .btn.view-all:active {
    background: var(--color-primary);
    color: #fff;
}
.mnmd-featured-module-6 .heading__title-inside {
    border-right: 4px solid #d3d3d3;
    padding-right: 25px;
    display: inline;
}

.mnmd-featured-module-6 .posts-list {
    padding: 0 60px;
    width: 900px;
    align-items: center;
}

.mnmd-featured-module-6 .post__no-thumb .post__text {
    max-width: 240px;
}

a.post__cat {
    font-size: 0.8571rem;
    line-height: 1.5;
}

a.post__cat.post__cat--heading-light {
    font-weight: 300;
    color: var(--color-primary);
}

@media (max-width: 1199px){
    .mnmd-featured-module-6 .posts-list {
        width: auto;
        max-width: 900px;
    }
}

@media (max-width: 991px){
    .mnmd-featured-module-6 .posts-list {
        padding: 0 20px;
    }
}

@media (max-width: 767px){
    .mnmd-featured-module-6 .mnmd-block__inner{
        display: block;
    }

    .mnmd-featured-module-6 .posts-list {
        padding-left: 0;
    }
}