@media (min-width: 1200px) {
    .single-1 .mnmd-sub-col {
        width: 300px;
        padding: 0 15px;
    }

    .single-1 .mnmd-main-col {
        width: 900px;
        padding-left: 15px;
        padding-right: 35px;
    }
}

body.single-1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #222222;
}

.site-content {
    padding-top: 80px;
}

.entry-interaction.entry-interaction--horizontal {
    display: flex;
    align-items: center;
}

.entry-interaction.entry-interaction--horizontal .post-sharing__list-btn {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.single-1 .entry-interaction--horizontal > div {
    margin-top: 0;
    margin-bottom: 0;
}

a.sharing-btn {
    color: #7a7a7a;
    font-size: 16px;
    padding: 0 4px;
}

.entry-interaction .post-sharing__text .sharing__text {
    text-transform: capitalize;
    color: var(--color-primary);
    font-weight: 300;
    font-size: 1.0714rem;
    line-height: 1;
}

.single-1 .single-content {
    padding-left: 100px;
    padding-right: 50px;
}

.single-content-group.group--has-thumb-w-interaction {
    margin-left: -100px;
    margin-right: -50px;
    position: relative;
}

.group--has-thumb-w-interaction .entry-interaction {
    position: absolute;
    top: auto;
    left: auto;
    bottom: -2px;
    right: -2px;

    background-color: #ffffff;
    padding: 15px 25px;
}

.single-1 figure img {
    width: 100%;
}

.entry-cat.entry-cat--heading-light {
    border: none;
    font-size: 0.8571rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: normal;
    color: var(--color-primary);
}

.single-1 .single-content-group {
    margin-bottom: 40px;
}

.single-content .single-header:not(:first-child) {
    margin-top: 0;
    margin-bottom: 32px;
}

.single-content .single-header:last-child {
    margin-bottom: 0;
}

.single-header.single-header--spacing-1 > * {
    margin-top: 0;
}

.single-header.single-header--spacing-1 > *:last-child {
    margin-bottom: 0;
}

.single-header.single-header--spacing-1 .entry-cat:not(:last-child) {
    margin-bottom: 15px;
}

.single-header.single-header--spacing-1 .entry-title {
    margin-bottom: 20px;
}

.entry-teaser {
    font-style: normal;
    color: #222222;
    opacity: 0.6;
}

.single-1 p {
    font-size: 1.1429rem;
    line-height: 1.5;
}

.single-1 p:not(:last-of-type) {
    margin-bottom: 2rem;
}

.single-1 .wp-caption {
    margin-bottom: 2rem;
}

.entry-tags ul > li {
    margin: 3px;
}

.single-1 .entry-tags ul > li:not(.entry-tags__icon) > a::before {
    display: none;
}

.single-1 .entry-tags ul > li:not(.entry-tags__icon) > a.post-tag {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    min-width: 80px;

    text-align: center;
    font-weight: 100;
    font-size: 0.8571rem;
    line-height: 1;
    color: #222222;
    opacity: 0.8;

    transition: all 0.3s linear;
}

.single-1 .entry-tags ul > li:not(.entry-tags__icon) > a.post-tag:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
    opacity: 1;
}

.entry-interaction.entry-interaction--counter a {
    color: #222222;
    opacity: 0.5;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 0.7857rem;
    line-height: 1;
    text-decoration: none;
    margin-left: 5px;
}

.entry-interaction.entry-interaction--counter a i {
    font-size: 16px;
    margin-right: 5px;
}

.entry-info {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.entry-info .entry-interaction {
    margin: 0;
}

.align-center {
    align-items: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.posts-navigation.list-seperated > *:not(:last-child) {
    border-bottom: none;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.posts-navigation .post__cat-navigation {
    font-size: 0.8571rem;
    line-height: 1;
    color: #222222;
    transition: all 0.2s linear;
    font-weight: 300;
    letter-spacing: normal;
}

.posts-navigation .post--no-thumb {
    position: static;
}

.posts-navigation .post__text {
    opacity: 0.6;
}

.posts-navigation__prev,
.posts-navigation__next {
    position: relative;
    transition: all 0.2s ease-in-out;
}

.posts-navigation__prev {
    text-align: right;
    padding: 20px 40px 10px 80px;
}

.posts-navigation__next {
    text-align: left;
    padding: 20px 80px 10px 40px;
}

.posts-navigation__prev:hover .post__text,
.posts-navigation__next:hover .post__text {
    opacity: 1;
}

.posts-navigation__prev:hover .post__title,
.posts-navigation__next:hover .post__title {
    color: var(--color-primary);
    text-decoration: underline;
}

.posts-navigation {
    padding-bottom: 0;
}

.single-entry-section {
    padding-left: 100px;
    padding-right: 50px;
    margin-top: 0;
}

.single-entry-section:not(:last-child) {
    margin-bottom: 30px;
}

.author-box .author-avatar {
    left: 180px;
}

.single-entry-section .author-box__text {
    padding-left: 200px;
    padding-right: 70px;
}

.author-box__text-group {
    display: flex;
    align-items: center;
}

.author-box__text-group .author-name {
    margin-right: 30px;
}

.author-box__text-group .author-box .author-name a,
.author-box__text-group .meta-font {
    font-family: "Roboto", sans-serif;
}

.author-box__text-group .author-name a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.2857rem;
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
    color: #222222;
}

.author-box .author-bio,
.author-box .author-info a,
.author-box .author-bio a {
    color: #222;
    opacity: 0.6;
}

.author-box .author-socials ul {
    margin-bottom: 5px;
}

.author-box .author-avatar.author-avatar--no-shadow {
    box-shadow: none;
}

.author-box.author-box--no-background {
    background-color: transparent;
    border: none;
}

.comments-section.single-entry-section {
    margin-left: -100px;
}

.comments-title {
    font-family: "Source Sans Pro", sans-serif;
}

.comments-title.comments-title__style-1 {
    color: var(--color-primary);
    font-weight: 700;
    line-height: 1;
    font-size: 1.429rem;
    letter-spacing: 0;
    border: none;
    padding-top: 0;
    text-transform: capitalize;
}

.comments-title.comments-title__style-1:before {
    display: none;
}

.comment-list--style-1 .comment-body {
    margin-left: 100px;
}

.comment-list.comment-list--style-1 .comment-author > img.avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;

    left: -100px;
}

.comment-meta.comment-meta--heading-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-meta--heading-inline .comment-meta--right {
    display: flex;
}

.comment-author {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
}

.comment-author b {
    font-weight: 600;
}

.comment-meta .comment-author__job {
    font-family: "Roboto", sans-serif;
    font-size: 0.8571rem;
    line-height: 1;
    font-weight: 100;
    color: #656565;

    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid var(--color-primary);
}

.comment-author.comment-author--left {
    display: flex;
    align-items: center;
}

.comment-content {
    padding-right: 270px;
    margin-bottom: 7px;
}

.comment-metadata::before {
    display: none;
}

.comment-meta--right > *:not(:last-child) {
    margin-right: 20px;
}

.comment-metadata,
.comment-reply-link,
.comment-edit-link,
.comment-edit-link i {
    font-family: "Roboto", sans-serif;
    font-size: 0.7857rem;
    font-weight: 300;
    line-height: 1;
    color: #222222;
    text-decoration: none;
}

.comment-edit-link i {
    margin-right: 2px;
}

.comment-edit-link,
.comment-reply-link {
    text-transform: capitalize;
    opacity: 0.7;
}

.comment-edit-link:hover,
.comment-edit-link:focus,
.comment-edit-link:active {
    color: #222222;
    text-decoration: none;
}

.comment-reply-link::before {
    color: #222;
}

.comment-metadata {
    opacity: 0.4;
    font-style: italic;
}

.bypostauthor > .comment-body .comment-author > img {
    border: none;
}

.comment-reply-title {
    text-transform: none;
    color: var(--color-primary);
    font-weight: 700;
    line-height: 1;
    font-size: 1.429rem;
    letter-spacing: 0;
}

p.comment-notes {
    font-family: "Roboto", sans-serif;
    color: #222222;
    opacity: 0.6;
    font-size: 0.8571rem;
    font-weight: 300;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    max-width: none;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="password"],
.comment-form input[type="search"],
.comment-form input[type="tel"],
.comment-form input[type="number"],
.comment-form textarea {
    font-size: 1rem;
    line-height: 1;
    padding: 15px 20px;
}

label {
    font-weight: 300;
    font-size: 1.0714rem;
    line-height: 1;
    font-family: "Roboto", sans-serif;
}

.comment-form .form-submit input[type="submit"]{
    background: var(--color-primary);
    min-width: 120px;
    padding: 15px 0;
    font-size: 1.0714rem;
    line-height: 1;
    font-family: "Roboto", sans-serif;
}

.comment-form .form-submit input[type="submit"]:hover{
    background: var(--color-primary);
    opacity: 0.8;
}

.comment-form p:not(:last-of-type){
    margin-bottom: 15px;
}   

.comment-form > p:nth-last-child(2){
    margin-bottom: 25px;
}

.comment-form--group{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.comment-form--group > *{
    padding: 0 15px;
    width: 50%;
}

.comment-form .form-submit{
    padding-top: 0;
}

