.mnmd-widget-subscribe-1 .widget-subscribe__inner {
    border: none;
    box-shadow: none;
    padding: 0;
}

.mnmd-widget-subscribe-1 .subscribe-form h3, 
.mnmd-widget-subscribe-1 input[type="email"], 
.mnmd-widget-subscribe-1 .subscribe-form p{
    font-family: "Roboto", sans-serif;
}

.subscribe-form p,
.subscribe-form h3{
    padding-left: 30px;
    padding-right: 30px;
}

.subscribe-form p{
    margin-bottom: 25px;
}

.subscribe-form h3{
    margin-bottom: 15px;
}

.subscribe-form h3,
.subscribe-form .h3 {
    color: var(--color-primary);
    text-transform: uppercase;

    font-size: 1.143rem;
    line-height: 1;
    font-weight: 700;
}

input[type="email"] {
    font-size: 0.8571rem;
    line-height: 1;

    padding: 10px 20px;
}

.form-group.form-group__inline {
    display: flex;
    align-items: center;
}

.form-group.form-group__inline input[type="email"] {
    flex: 1;
}

.form-group.form-group__inline button[type="submit"] {
    display: flex;
}

.btn-submit--email {
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    font-size: 24px;
}

input[type="email"].input-background--dark {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    outline: none;
}

input[type="email"].input-background--dark:active,
input[type="email"].input-background--dark:focus {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

input[type="email"].flaceholder--left {
    text-align: left;
}
