@media (min-width: 1200px) {
    .mnmd-featured-module-2 .mnmd-main-col {
        padding-right: 15px;
    }
    .mnmd-featured-module-2 .mnmd-sub-col {
        padding-top: 138px;
    }
}

.mnmd-block__inner.mnmd-block--has-post-padding-right {
    padding-right: 560px;
    height: 690px;
}

.post--horizontal-follow-parent {
    position: static;
    padding-top: 115px;
}

.post--horizontal-follow-parent .post__thumb {
    position: absolute;
    left: auto;
    bottom: 0;
    top: 0;
    right: 0;

    width: 470px;
    margin: 0;
}

.text-decor--line-through {
    display: inline-block;
    position: relative;
}

.text-decor--line-through::before {
    display: inline-block;
    content: "";

    position: absolute;
    bottom: 25%;
    top: auto;
    left: 0;
    right: auto;

    width: calc(100% - 6px);
    height: 20%;
    background-color: #ffd36f;
    z-index: -1;
}

.opacity-10 {
    opacity: 1;
}

.opacity-7 {
    opacity: 0.7;
}

.opacity-6 {
    opacity: 0.6;
}

.block-heading--overlay-top.block-heading--title--opacity {
    margin-bottom: -70px;
    z-index: 1;
}

.block-heading--title--opacity .block-heading__title {
    font-size: 10.7143rem;
    line-height: 1;
    letter-spacing: 0.065em;

    font-family: "Roboto", sans-serif;
    color: #222;
    opacity: 0.1;

    text-transform: capitalize;
}

.mnmd-sub-col .post--fullwidth-left .post__thumb {
    margin-left: -30px;
    margin-bottom: 27px;
}

.post__text-heading {
    margin-bottom: 27px;
}

.mnmd-pagination__item-next,
.mnmd-pagination__item-prev {
    font-size: 0.7857rem;
}

.mnmd-block--has-post-padding-right .sub-posts {
    margin-top: 65px;
}

@media (max-width: 1199px) {
    .mnmd-block__inner.mnmd-block--has-post-padding-right {
        height: auto;
        padding-right: 400px;
    }

    .mnmd-main-col .post--horizontal-xs .post__thumb {
        width: 70px;
    }

    .post--horizontal-follow-parent .post__thumb {
        width: 380px;
    }

    .block-heading--title--opacity .block-heading__title{
        font-size: 9.643rem;
    }
}

@media (max-width: 991px) {
    .mnmd-sub-col .post--fullwidth-left .post__thumb {
        margin-left: 0;
        height: 330px;
    }

    .mnmd-sub-col .post--fullwidth-left .post__thumb a,
    .mnmd-sub-col .post--fullwidth-left .post__thumb img {
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .author-box .author-avatar {
        margin: 0;
    }

    .post--horizontal-follow-parent .post__thumb {
        position: static;
        width: 100%;
        height: 400px;
    }

    .post--horizontal-follow-parent .post__thumb a,
    .post--horizontal-follow-parent .post__thumb img {
        height: 100%;
        object-fit: cover;
    }

    .mnmd-block__inner.mnmd-block--has-post-padding-right {
        padding-right: 0;
    }

    .mnmd-main-col .post--horizontal.post--horizontal-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .block-heading--overlay-top.block-heading--title--opacity{
        margin-bottom: 0;
    }

    .block-heading--title--opacity .block-heading__title {
        letter-spacing: 0.02em;
        font-size: 7.143rem;
    }

    .post--horizontal-follow-parent {
        padding-top: 0;
    }

    .post--horizontal.post--horizontal-reverse .post__text {
        margin-bottom: 30px;
    }

    .mnmd-block--has-post-padding-right .sub-posts {
        margin-top: calc(-35px / 2);
    }

    .mnmd-main-col .main-post {
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .block-heading--title--opacity .block-heading__title {
        letter-spacing: 0.02em;
        font-size: 5rem;
    }

    .posts-listing.posts-list.flex-box-2i > * {
        width: 100%;
    }
}
