.widget__title-text--f-18 {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-size: 1.2857rem;
    line-height: 1.5;
}

.widget__title-text.text-decor--line-through::before {
    width: 100%;
}

.author-box.author-box--vertical {
    padding: 0;
    background: none;
    border: none;
}

.author-box.author-box--vertical .author-box__image {
    margin-bottom: 20px;
}

.author-box.author-box--vertical .author-avatar {
    position: static;
    transform: translate(0);
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    border: none;
}

.author-box.author-box--vertical .author-avatar img {
    border-radius: 0;
}

.author-box--vertical .author-box__text {
    padding-left: 0;
}

.author-box.author-box--vertical .author-name a {
    font-size: 1.423rem;
    font-weight: 700;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0;
    color: #222222;
    text-decoration: none;
}

.author-name.author-name--dot-after {
    display: flex;
    align-items: center;
}

.author-name.author-name--dot-after::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin-left: 7px;
}

.auhtor-job a {
    font-size: 0.8571rem;
    line-height: 1;
    text-decoration: none;
    color: #222222;
    opacity: 0.3;
}

.author-box .heading-inside {
    margin-bottom: 5px;
}

.author-box .heading__title-inside {
    color: #222222;
    font-size: 1.143rem;
    text-transform: capitalize;
}

.author-box.author-box--vertical .author-bio {
    margin: 0;
}

.author-box.author-box--vertical .author-bio,
.author-box.author-box--vertical .author-location,
.author-box.author-box--vertical .author-info a {
    color: #222222;
    opacity: 0.6;
}

.author-box .author-info a:hover,
.author-box .author-info a:focus,
.author-box .author-info a:active,
.author-box .author-bio a:hover,
.author-box .author-bio a:focus,
.author-box .author-bio a:active {
    opacity: 0.8;
}

.author-box__text--spacing-1 > *:not(:last-child) {
    margin-bottom: 40px;
}

.author-box__text--spacing-1 .author-name {
    margin-bottom: 10px;
}

.author-box__text--spacing-1 > * {
    margin-top: 0;
}

.author-box__text--spacing-1 > *:last-child {
    margin-bottom: 0;
}

.author-box__text--spacing-1 .auhtor-job {
    margin-bottom: 25px;
}
